@import "tailwindcss";

@theme {
  /* Кастомные цвета */
  --color-umami-green: #7B906F;
  --color-umami-dark-gray: #333333;
  --color-umami-gray: #666666;
  --color-umami-light-gray: #999999;
  --color-umami-orange: #EE9B51;
  --color-umami-light-yellow: #FCFBF3;
  
  /* Шрифты */
  --font-nunito: var(--font-nunito), sans-serif;
  --font-inter: var(--font-inter), sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FCFBF3;
}

@layer components{
  .custom-button{
    @apply rounded-full px-5 py-1.5 text-sm text-white cursor-pointer;
  }
}