@import "tailwindcss";

@theme {
  /* Кастомные цвета */
  --color-umami-green: #7B906F;
  --color-umami-dark-gray: #333333;
  --color-umami-gray: #666666;
  --color-umami-light-gray: #999999;
  --color-umami-orange: #EE9B51;
  --color-umami-light-yellow: #FCFBF3;
  
  /* Шрифты */
  --font-nunito: var(--font-nunito), sans-serif;
  --font-inter: var(--font-inter), sans-serif;
}

@layer base {
  html {
    scrollbar-gutter: stable;
    overflow-y: scroll;
    scrollbar-width: none !important; /* Firefox */
    -ms-overflow-style: none !important; /* IE и Edge */
  }

  html::-webkit-scrollbar {
    display: none !important; /* Chrome, Safari и Opera */
    width: 0 !important;
    height: 0 !important;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FCFBF3;
    overflow-x: hidden;
  }

  /* Скрываем скроллбар для всех элементов */
  *::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
  }

  * {
    scrollbar-width: none !important; /* Firefox */
    -ms-overflow-style: none !important; /* IE и Edge */
  }
}

@layer components{
  .custom-button{
    @apply rounded-full px-5 py-1.5 text-sm text-white cursor-pointer;
  }
}